name: CI

# Controls when the workflow will run
on:
  push:
    paths:
      - '**.nim'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ci:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/kreatolinux/builder:latest
      options: --privileged
      
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Update cache on every commit
        uses: actions/cache@v4
        with:
          path: /var/cache/kpkg/archives
          key: binary-cache-${{ github.run_id }}
          restore-keys: |
            binary-cache
    

      - name: build (amd64) (release)
        run: |
          IS_ACTIONS=y sh $GITHUB_WORKSPACE/scripts/build-ci.sh init
          export PATH=$PATH:$HOME/.nimble/bin
          make deps
          ./build.sh -T kpkg
          ./build.sh -p kpkg
          ./build.sh -p chkupd
          mv out out-release
      
      - name: build (amd64) (debug)
        run: |
          ./build.sh -d -p kpkg
          ./build.sh -d -p chkupd
          mv out out-debug
      
      - uses: actions/upload-artifact@v4
        with:
          name: kpkg-amd64-linux-release
          path: ${{ github.workspace }}/out-release/kpkg

      - uses: actions/upload-artifact@v4
        with:
          name: kpkg-amd64-linux-debug
          path: ${{ github.workspace }}/out-debug/kpkg

      - uses: actions/upload-artifact@v4
        with:
          name: chkupd-amd64-linux-debug
          path: ${{ github.workspace }}/out-debug/chkupd

      - uses: actions/upload-artifact@v4
        with:
          name: chkupd-amd64-linux-release
          path: ${{ github.workspace }}/out-release/chkupd

