name: Build rootfs

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest 
    container:
      image: alpine
    
    steps:

      - name: Checkout
        uses: actions/checkout@v3
          
      - name: Cache built packages
        uses: actions/cache@v3
        with:
          path: /var/cache/kpkg/archives
          key: cache-nyaa-tarballs

      - name: Build nocc rootfs tarball
        run: |
          IS_ACTIONS=y sh $GITHUB_WORKSPACE/src/scripts/build-ci.sh init
          IS_ACTIONS=y sh $GITHUB_WORKSPACE/src/scripts/build-ci.sh build nocc
      
      - name: Upload nocc Rootfs
        uses: actions/upload-artifact@v3.1.1
        with:
          # Artifact name
          name: nocc-rootfs # optional, default is artifact
          # A file, directory or wildcard pattern that describes what to upload
          path: ${{ github.workspace }}/kreato-linux-nocc-*.tar.gz
          # The desired behavior if no files are found using the provided path.
          if-no-files-found: error

      - name: Build builder rootfs tarball
        run: |
          IS_ACTIONS=y sh $GITHUB_WORKSPACE/src/scripts/build-ci.sh builder
    
      - name: Upload Builder Rootfs
        uses: actions/upload-artifact@v3.1.1
        with:
          # Artifact name
          name: builder-rootfs # optional, default is artifact
          # A file, directory or wildcard pattern that describes what to upload
          path: ${{ github.workspace }}/kreato-linux-builder-*.tar.gz
          # The desired behavior if no files are found using the provided path.
          if-no-files-found: error 
          
      - name: Build server rootfs tarball
        run: |
          IS_ACTIONS=y sh $GITHUB_WORKSPACE/src/scripts/build-ci.sh build server
    
      - name: Upload Server Rootfs
        uses: actions/upload-artifact@v3.1.1
        with:
          # Artifact name
          name: server-rootfs # optional, default is artifact
          # A file, directory or wildcard pattern that describes what to upload
          path: ${{ github.workspace }}/kreato-linux-server-*.tar.gz
          # The desired behavior if no files are found using the provided path.
          if-no-files-found: error 
